.menu {
  background: black;
  color: white;
  text-align: center;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo-wrapper {
  float: left;
  display: block;
  text-align: center;
  padding: 3px;
}

.logo-wrapper h5{
  float: right;
  padding: 7px;
}

.logo {
  width: 40px;
}

.logo path {
  fill: #000;
}

.form-control {
  width: 70px;
}


.form-group label {
  padding: 7px;
}

.form-group {
  vertical-align: middle;
  max-width: 50%;
  max-height: 50%;
}

.btn-primary {
  margin-left: 5px;
}
