<div class="container">
  <div class="starter-text" *ngIf="!gameStarted">
    <div class="title-holder">
      <h2>SUPERCHARGE</h2>
      MEMORY GAME
    </div>
    <div class="form-group">
      <label for="deck-size">Deck size:</label>
      <div class="selection">
        <select  id="deck-size" #select>
          <option *ngFor="let size of deckSizes">{{size}}</option>
        </select>
      </div>
      <button (click)="setDeckSize(select)" class="btn-danger">Start new game</button>
    </div>
  </div>
  <div *ngIf="gameStarted">
    <div *ngIf="gameWon">
      <h1>You won!</h1>
      <button (click)="restartGame()" class="btn-danger">Restart game</button>
    </div>
    <div class="row">
      <div (click)="flipCheck(i)" *ngFor="let card of cards; index as i" class="col-6 col-md-3 card">
        <div *ngIf="card.isFlipped" class="icon-holder">
          <img [src]="card.img" alt="card">
        </div>
      </div>
    </div>
  </div>
</div>

